<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gposStr" connectionString="Server=13.124.187.129,1433;Database=Gpos;User Id=sa;Password=kdj1234!"/>
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
